/* fonts familly  */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    transition: .3s cubic-bezier(.44,.36,.98,.02);
}
 
/* ne sert pas a grande chose  */
.top_page{
    height: auto;
    width: 100%;
}

/* le conteneur du menu et du hamburger  */
.menu_toogle_container{
    height: 4.5em;
    width: 15em;
    background: #ff0a54;
    margin-top: 2em;
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: fixed;
}
/* conteneur du hamburger  */
.hamburger_container{
    height: 100%;
    width: 30%;
    background: #fff;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* la classe qui permet d'ajouter la couleur rose au hamburger au scroll  */
.pink{
    background: #ff0a53;
}
.pink .line{
    background: #fff;
}

.hamburger_container:hover{
    background: #ff0a54;
}

/* les ligne du hambuger  */
.line{
    display: block;
    height: 4px;
    width: 30%;
    margin-bottom: 4px;
    border-radius: 10px;
    background: #ff0a54;
}
.hamburger_container:hover .line{
    background: #fff;
}
.line1{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.line2 {
  transition: transform 0.4s ease-in-out;
}
.line3 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

/* MENU TOOGLE  */
/* permet de faire touner les bars des hamburger  */
.rotate45--{
    transform: rotate(45deg);
}
.--rotate45--{
    transform: rotate(-45deg);
}
.opacity0--{
    opacity: 0;
}


/* LOGO  */
/* container des logo  */
.logo_container{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}
/* permet de fixer le .logo_container */
.fixed{
    position: fixed;
}

.a---{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a--- img{
    width: 90%;
    height: auto;
}
.span--home{
    display: none;
}

.logo_container:hover .span--home{
    display: block;
}

.logo_container:hover .a---{
    display: none;
}


/* NAVBAR  */
.navbar{
    display: none;
}

/* permet d'afficher le menu  */
.menuFlex{
    display: flex;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ff0a5360;
    height: 90vh;
    width: 90%;
    position: fixed;
    top: 2em;
    left: 3em;
    z-index: 2;
}

.navbar>div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-auto-flow: row;
}
.navbar>div>span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 33%;
}
.navbar>div>span>a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .menu_toogle_container{
        margin: 0;
        width: 100%;
        height: 10%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: #ff0a5360;
    }
    .hamburger_container{
        background: #ff0a54;
        width: 10%;
    }
    .line{
        background: #fff;
    }
    .logo_container{
        width: 90%;
    }
    .a--- img{
        width: 50%;
        height: 50%;
    }

    .menuFlex{
        width: 90%;
        top: 10%;
        left: 0em;
        width: 100%;
        height: 90%;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        background: #ff0a53;
        position: fixed;
    }
    .navbar>div{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .navbar>div>span{
        flex: 1;
        width: 100%;
    }
}

@media (max-width:650px) {
    .hamburger_container{
        width: 20%;
    }
    .logo_container{
        width: 80%;
    }
}

/* l'entete de la page  */
.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_backg_1{
    background: url(assets/1.png);
    background-size: cover;
    background-position: center;
}
.header_backg_2{
    background: url(assets/2.webp);
    background-size: cover;
    background-position: center;
}
.header_backg_3{
    background: url(assets/4.webp);
    background-size: cover;
    background-position: center;
}

.header_body{
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.header_caroussel_controleurs{
    width: 100%;
    height: 4em;
    top: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.controleur_{
    height: 100%;
    width: 4em;
    border: 2px solid #fff;
    color: #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ff0a5360;
    align-items: center;
    justify-content: center;
    display: flex;

}
.bottom_controleurs{
    position: absolute;
    top: 90%;
    left: 35%;
    width: 30%;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bottom_controleurs span{
    height: 100%;
    width: 20%;
    border: 2px solid #fff;
}
.bottom_controleurs_selected{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ff0a5360;
}

.explore{
    font-size: 2rem;
    width: 8em;
    height: 8em;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    background: #ff0a5360;
    text-transform: uppercase;
    color: #fff;
}
.exploremouseover::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 150%;
    background: hsl(var(--clr-white)/0.2);
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: opacity 500ms linear,-webkit-transform 750ms ease-in-out;
    transition: opacity 500ms linear,-webkit-transform 750ms ease-in-out;
    transition: opacity 500ms linear,transform 750ms ease-in-out;
    transition: opacity 500ms linear,transform 750ms ease-in-out,-webkit-transform 750ms ease-in-out;
}


@media (max-width:426px) {
    .header_caroussel_controleurs{
        height: 3em;
    }
    .controleur_{
        width: 3em;
    }
    .explore{
        height: 6em;
        width: 6em;
    }
}

.body-container{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}
/* black_line */
/* les lignes noirs  */

.black_line{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.black_line span{
    height: 90%;
    width: 2px;
    background: #000;
}


/* ABOUT */
.about{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}
.Why-us_h2{
    font-size: 4em;
    width: 50%;
}
.about_content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.about_part{
    height: 100%;
    width: 50%;
}
.about_part p{
    display: block;
}

.our_services{
    width: 10em;
    height: 4em;
    outline: none;
    border: none;
    background: #ff0a53;
    color: #fff;
    transition: .3s cubic-bezier(.44,.36,.98,.02);
    display: flex;
    align-items: center;
    justify-content: center;
}
.our_services i{
    opacity: 0;
    transition: .3s cubic-bezier(.44,.36,.98,.02);
    font-size: 1.5em;
    margin-left: 0.5em;
}
.our_services:hover{
    width: 12em;
    background: #fff;
    color: #ff0a53;
    border: 1px solid #ff0a53;
}
.our_services:hover i{
    opacity: 1;
}

@media (max-width:768px) {
    .about_content{
        flex-direction: column;
    }
    .about_part{
        width: 100%;
        height: 50%;
    }
    .Why-us_h2{
        width: 100%;
        font-size: 2em;
    }
}

/* SERVICES  */

.services{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.first_line{
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fisrt_line_item{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.fisrt_line_item img{
    width: 80%;
    height: 50%;
}

.service_description{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.service_desc{
    width: 100%;
    height: 20em;
    display: none;
    flex-direction: row;
    margin-top: 1em;
    transition: .3s cubic-bezier(.44,.36,.98,.02);
}
.desc_part{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.desc_part--1 button{
    width: 10em;
    height: 4em;
    outline: none;
    border: none;
    background: #ff0a53;
    color: #fff;
    transition: .3s cubic-bezier(.44,.36,.98,.02);
}
.desc_part--1 button:hover{
    width: 12em;
    background: #fff;
    color: #ff0a53;
    border: 1px solid #ff0a53;
}

.desc--1 .desc_part--2{
    background: url(assets/desc_1/Christmas-tree.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.desc--2 .desc_part--2{
    background: url(assets/desc_2/Friends-reference.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.desc--3 .desc_part--2{
    background: url(assets/desc_3/Global-logistics-delivery-network.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.desc--4 .desc_part--2{
    background: url(assets/desc_4/Design-process.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.desc--5 .desc_part--2{
    background: url(assets/desc_5/Statistics.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* change les displays si necessaires */
.flex{
    display: flex;
}
.none{
    display: none;
}

@media (max-width:768px) {
    .first_line{
        flex-wrap: wrap;
        height: 20em;
    }
    .fisrt_line_item{
        height: 33%;
        width: 50%;
    }
    .service_desc{
        flex-direction: column-reverse;
        height: 50em;
    }
    .desc_part{
        width: 100%;
        height: 50%;
    }
}


/* l'effet de bounce sur les elements */
.reveal [class*="reveal-"]{
    opacity: 0 !important;
    transform: translateY(30px) !important;
}
[class*="reveal-"]{
    transition: .5s ease-in-out;
}

.reveal-2{
    transition-delay: .1s;
}
.reveal-3{
    transition-delay: .2s;
}
.reveal-4{
    transition-delay: .3s;
}


/* les chiffres de la societe  */

.chiffres{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chiffres_title{
    width: 100%;
    height: auto;
    text-align: start;
}
.chiffres_items_container{
    height: 20em;
    width: 100%;
    background: url(assets/3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}
.chiffres_items{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-align: center;
}
.chiffres_items>h2{
    font-size: 3em;
}

@media (max-width:768px) {
    .chiffres_items_container{
        flex-direction: column;
        height: auto;
    }
    .chiffres_items{
        height: 15em;
        width: 100%;
        margin-bottom: 1em;
    }
    .chiffres_items h2{
        text-align: center;
    }
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ff0a5360;
}
.social_medias{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.item_media_container{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:.5em;
    margin-right: .5em;
}
.item_media_container a{
    color: #ff0a53;
}
.nav-footer_container{
    width: 100%;
    height: auto;
}
.nav-footer_container div{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.nav-footer_container div span{
    height: 2em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-footer_container div span a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.footer small{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #8d99ae ;
    margin-bottom: 2em;
}
.footer small i{
    margin-left:1em;
    margin-right: 1em;

}